@model IQueryable<Founder>
@{ Layout = "_Layout"; }
@{ViewBag.Title = "Основатели";}
<script src="~/js/scripts.js"></script>
<div>
    <div class="row justify-content-center ">
        <div class="col-8">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">ИНН</th>
                        <th scope="col">ФИО</th>
                        <th scope="col">Дата добавления</th>
                        <th scope="col">Дата обновления</th>
                        <th scope="col">Изменить</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model)
                    {
                        <tr>
                            <th scope="row">@m.FounderKey</th>
                            <td class="edit">@m.INN</td>
                            <td class="edit">@m.FIO </td>
                            <td> @m.DateAdd </td>
                            <td> @m.DateUpdate </td>
                            <td> <button class="btn btn-primary">Изменить</button> </td>
                        </tr>

                    }
                </tbody>
            </table>
            <div class="row justify-content-end">
                <div class="col"></div>

                   <a class="btn btn-primary" asp-route="AddFounder" >Добавить</a>
                
                
            </div>

        </div>

    </div>
</div>
